@import "tailwindcss";

html, body {
  height: 100%;
}

body,.background {
  font-family: 'Courier New', Courier, monospace;
  background-image: url("/bg-black-no-pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

/* Base typewriter */
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 0ch;
  line-height: 1.4;

  animation-name: typing;
  animation-duration: var(--duration);
  animation-timing-function: steps(var(--chars), end);
  animation-fill-mode: forwards;
}

/* Cursor visible (solid) */
.cursor {
  border-right: 2px solid currentColor;
}

/* Cursor blinking (idle only) */
.cursor-blink {
  animation: blink 1s step-end infinite;
}

@keyframes typing {
  to {
    width: calc(var(--chars) * 1ch);
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
