
.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 2em;
    height: 99vh;
    margin: 2%;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    color: aliceblue;
    background-color: rgba(240, 255, 255, 0.255);
    border-radius: 15em;
    size: 100em;
  }
  
  .div2 {
    grid-column: span 7 / span 7;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    color: aliceblue;
    background-color: rgba(240, 255, 255, 0.255);
  }
  
  .div3 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-row-start: 4;
    color: aliceblue;
    background-color: rgba(240, 255, 255, 0.255);
  }
  
  .div4 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 7;
    grid-row-start: 6;
    color: aliceblue;
    background-color: rgba(240, 255, 255, 0.255);
  }
  
  .div5 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 4;
    color: aliceblue;
    background-color: rgba(240, 255, 255, 0.255);
  }
  
  .div6 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 7;
    grid-row-start: 4;
    color: aliceblue;
    background-color: rgba(240, 255, 255, 0.255);
}
        